{% extends "bases.html" %}
<!-- {% block page_content %} -->

{% block content %}
<div class="page-header">
    <h4></h4>
</div>
<div class="container">    
    <div class="row">
        <div class="col md-6">
            <div class="jumbotron p-3">
                <h4>Wastage</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>Date</th>
                            <th>Reference</th>
                            <th>Net Weight (kg)</th>
                            <th>Lenght (m)</th>
                            <th>Cause</th>
                        </tr>
                        <tr>
                            <td>25/12/2022</td>
                            <td>B654/9</td>
                            <td>10.26</td>
                            <td>250</td>
                            <td>Over Production</td>
    
                        </tr>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}